<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <h1 class="mt-4 ms-4">Choose a design</h1>

    <div class="row mt-5 m-4">
      <div class="col-4">
        <img src="/static/images/png/png-1.png" class="img-fluid" alt="..." />
        <button type="button" class="btn btn-danger mt-2">choose this</button>
      </div>
      <div class="col-4">
        <img src="/static/images/png/png-2.png" class="img-fluid" alt="..." />
        <button type="button" class="btn btn-danger mt-2">choose this</button>
      </div>
      <div class="col-4">
        <img src="/static/images/png/png-1.png" class="img-fluid" alt="..." />
        <button type="button" class="btn btn-danger mt-2">choose this</button>
      </div>
    </div>

    <div class="row mt-5 m-4">
      <div class="col-4">
        <img src="/static/images/png/png-1.png" class="img-fluid" alt="..." />
        <button type="button" class="btn btn-danger mt-2">choose this</button>
      </div>
      <div class="col-4">
        <img src="/static/images/png/png-2.png" class="img-fluid" alt="..." />
        <button type="button" class="btn btn-danger mt-2">choose this</button>
      </div>
      <div class="col-4">
        <img src="/static/images/png/png-1.png" class="img-fluid" alt="..." />
        <button type="button" class="btn btn-danger mt-2">choose this</button>
      </div>
    </div>

    <div class="row mt-5 m-4">
      <div class="col-4">
        <img src="/static/images/png/png-1.png" class="img-fluid" alt="..." />
        <button type="button" class="btn btn-danger mt-2">choose this</button>
      </div>
      <div class="col-4">
        <img src="/static/images/png/png-2.png" class="img-fluid" alt="..." />
        <button type="button" class="btn btn-danger mt-2">choose this</button>
      </div>
      <div class="col-4">
        <img src="/static/images/png/png-1.png" class="img-fluid" alt="..." />
        <button type="button" class="btn btn-danger mt-2">choose this</button>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
